RewriteEngine On

# Redirige acceso raíz a login
RewriteCond %{REQUEST_URI} ^/?$ [NC]
RewriteRule ^.*$ pages/usuarios/login.php [R=302,L]

# Evita redirección infinita si ya estamos en login
RewriteCond %{REQUEST_URI} !^/pages/usuarios/login\.php$ [NC]

# Redirige todo lo que no sea archivo o carpeta existente a login.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ pages/usuarios/login.php [L]

# Opcional: Evita listado de directorios
Options -Indexes






